.bg-pattern {
  background: radial-gradient(circle, rgba(29, 39, 54, 0.6), rgba(17, 24, 39, 0.9));
}

.skill-badge {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-badge:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.scroll-glow .animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    top: 2px;
  }
  50% {
    top: 18px;
  }
}

/* Custom Cursor Styles */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Adjusted to center the cursor */
  transition: transform 0.2s ease;
  z-index: 9999;
}
